header {
    background-color: #000;
    color: #fff;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 5px 50px;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
   display: flex;
   list-style: none;
}

ul li {
    margin-left: 2em;
}

#hero {
    height: 600px;
    background-image: url(/images/hands-typing.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(70%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: #000 2px 2px 4px;
    text-align: center;
}

#about-me .wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

#about-me div {
    align-items: center;
}

#about-me img {
    height: 80%;
    align-items: end;
}